@model NovoRad.Models.Usuario
@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Usuário</h1>

<form asp-action="Edit">

    <div class="row">
        <button onclick="location.href='/Usuarios'" type="button" class="btn btn-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg> Voltar
        </button>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label">Matrícula</label>
                <input class="form-control" type="text" asp-for="UsuarioId" readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="NomeUsuario" class="control-label">Nome</label>
                <input asp-for="NomeUsuario" type="text" class="form-control" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" type="text" class="form-control" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Cpf" class="control-label">Cpf</label>
                <input asp-for="Cpf" type="text" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="RegionalId" class="control-label">Regional</label>
                <select class="form-control input-validation-error" asp-for="RegionalId" asp-items="ViewBag.RegionalId"></select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="UF" class="control-label">UF</label>
                <input asp-for="UF" type="text" class="form-control input-validation-error"/>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Telefone" class="control-label">Telefone</label>
                <input asp-for="Telefone" type="text" class="form-control" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="AreaId" class="control-label">Área</label>
                <select class="form-control input-validation-error" asp-for="AreaId" asp-items="ViewBag.AreaId"></select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
</form>
