@model NovoRad.Models.Envolvido

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar envolvido</h1>

<form asp-action="Edit" asp-route-id="@ViewBag.EnvolvidoId" asp-route-ocorrenciaId="@ViewBag.OcorrenciaId" class="col">

    <div class="row">
        <h4>Novo Envolvido</h4>
    </div>

    @*escondido para passar no edit*@
    <label asp-for="EnvolvidoId" hidden></label>
    <input asp-for="EnvolvidoId" hidden type="text" />

    <div class="row">
        <button onclick="location.href='/'" type="button" class="btn btn-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg> Voltar ao Início
        </button>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="TipoEnvolvimentoId" class="control-label">Tipo Envolvimento</label>
                <select class="form-control input-validation-error" asp-for="TipoEnvolvimentoId" asp-items="ViewBag.TipoEnvolvimentoId"></select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="CPF_CNPJ" class="control-label">CPF/CNPJ Envolvido</label>
                <input asp-for="CPF_CNPJ" type="text" class="form-control" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome</label>
                <input asp-for="Nome" type="text" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="RG" class="control-label">RG</label>
                <input asp-for="RG" type="text" class="form-control" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label">Data de Nascimento</label>
                <input asp-for="DataNascimento" type="text" class="form-control" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Emissor" class="control-label">Emissor</label>
                <input asp-for="Emissor" type="datetime" class="form-control" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Perfil" class="control-label">Perfil</label>
                <input asp-for="Perfil" type="text" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="UF" class="control-label">UF</label>
                <select class="form-control input-validation-error" asp-for="UF"></select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="NomeMae" class="control-label">Nome da Mãe</label>
                <input asp-for="NomeMae" type="text" class="form-control" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="NomePai" class="control-label">Nome do Pai</label>
                <input asp-for="NomePai" type="text" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="NumeroSAP" class="control-label">Número SAP</label>
                <input asp-for="NumeroSAP" type="text" class="form-control" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Login" class="control-label">Login</label>
                <input asp-for="Login" type="text" class="form-control" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="AcaoTomadaId" class="control-label">Ação Tomada</label>
                <select class="form-control input-validation-error" asp-for="AcaoTomadaId" asp-items="ViewBag.AcaoTomadaId"></select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="MedidaDisciplinarId" class="control-label">Medida Disciplinar</label>
                <select class="form-control input-validation-error" asp-for="MedidaDisciplinarId" asp-items="ViewBag.MedidaDisciplinarId"></select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </div>
    </div>

</form>

<button class="bttn-unite bttn-sm bttn-primary mt-4" onclick="location.href='@(Url.Action("Create", "Endereco", new { envolvidoId = Model.EnvolvidoId }))'">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
    </svg>
</button>


@if (Model.Endereco != null
&& Model.Endereco.Count > 0)
{
    await Html.RenderPartialAsync("~/Views/Endereco/Index.cshtml", Model.Endereco);
}
else
{
    <p>Nenhum envolvido cadastrado!</p>
}